*,
html {
  margin: 0;
  padding: 0;
}

.navbar-contain {
  width: 100%;
  height: 10vh;
}

.content {
  background-color: rgb(39, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  background-color: rgb(103, 19, 19);
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.li:hover {
  background-color: rgb(56, 55, 55);
  transition: 0.1s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 89px;
}

.a-navbar {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.contain-content {
  background-color: rgb(13, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-yt {
  color: rgb(255, 251, 251);
  background-color: rgb(96, 96, 96);
  font-size: 35px;
  font-style: oblique;
  width: 440px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 14px 13px 12px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px 13px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 13px 12px 2px rgba(0, 0, 0, 0.75);
}

.conten-foter {
  background-color: rgb(250, 250, 251);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-foter {
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.b-yt {
  color: rgb(0, 0, 0);
  background-color: rgb(203, 203, 203);
  font-size: 30px;
  font-style: unset;
  width: 380px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.yt {
  width: 240;
  height: 200;
}
